{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Historial de {{ paciente.nombre }}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container py-5">

<h1 class="mb-4">Historial de {{ paciente.nombre }} 📋</h1>

{% if historial %}
  <form method="POST" class="card p-4 shadow-sm">
    {% csrf_token %}
    <div class="mb-3">
      <label>Antecedentes</label>
      <textarea class="form-control" readonly>{{ historial.antecedentes }}</textarea>
    </div>
    <div class="mb-3">
      <label>Alergias</label>
      <textarea class="form-control" readonly>{{ historial.alergias }}</textarea>
    </div>
    <div class="mb-3">
      <label>Enfermedades Crónicas</label>
      <textarea class="form-control" readonly>{{ historial.enfermedades_cronicas }}</textarea>
    </div>
  </form>
{% else %}
  <div class="alert alert-warning">
    ⚠️ El paciente <strong>{{ paciente.nombre }}</strong> no tiene historial registrado.
  </div>
{% endif %}
  <br>
<a href="{% url 'listar_pacientes' %}" class="btn btn-secondary">Volver</a>


</body>
</html>
